---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Title from '../components/Title.astro';
---

<html lang="en">
	<head>
		<title>Astro</title>
	</head>

	<body>
		<Layout>
			<Header />
			<Title />
		</Layout>
	</body>
</html>

<style>
</style>

